<!doctype html>
<html>
<head>
    <title>Lista de bebés</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<script src="/js/baby-diary.js"></script>
		<script src="/js/bootstrap-slider.js"></script>
		<link rel="stylesheet" href="/css/baby-diary.css"></link>
		<link rel="stylesheet" href="/css/bootstrap-slider.css"></link>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
		<% include ../partials/topMenu %>
		
		<% include ../partials/eventSelector %>
		
		<% for(var i=0; i<babies.length; i++){ %>
			<% if(babies[i].events.length > 0) { %>
			<div class="baby-container">
				<h3><%= babies[i].name %></h3>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Tipo de evento</th>
								<th>Evento</th>
								<th>Cantidad</th>
								<th>Hora</th>
								<th>Comentarios</th>
							</tr>
						</thead>
						<tbody class="table-hover">
							<% for (var j=0; j<babies[i].events.length; j++){ %>
								<tr>
									<td><%= babies[i].events[j].eventClass %></td>
									<td><%= babies[i].events[j].eventType %></td>
									<td><%= babies[i].events[j].eventAmount %></td>
									<td><%= babies[i].events[j].date %></td>
									<td><%= babies[i].events[j].comment %></td>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
			<% } %>
		<% } %>
</div>
</body>
</html>